Repository autobrr/tqm, pull requests merged in 2024-12, with the labels that each got.

#3 build: update actions workflows
  .github/FUNDING.yml
  .github/workflows/build.yml
  .github/workflows/remove_old_artifacts.yml
  .goreleaser.yml
  Makefile
  go.mod
  go.sum
  hardlinkfilemap/linkinfo_freebsd.go
Labels: build

#5 chore(deps): update Go packages
  expression/check.go
  expression/compile.go
  expression/struct.go
  go.mod
  go.sum
Labels: dependencies

#6 fix(qbittorent): remove extra `apiVersion` validation
  client/qbittorrent.go
Labels: bug, clients:qbittorrent
